<a href="https://colab.research.google.com/github/rock-debug/dify/blob/main/HWcsepathshala.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TYPE CASTING

In [ ]:
Dict2={1:"Python","pages":200}
list1=["python","maths","physics","pes","mechanical graphics"]
print(list1)
list1[3]="softskills"
print(list1)
print(type(list1))
tup=(20,5.6,list1)
print(tup)
print(type(tup))
set={list1[1],"coding",230}
print(set)
print(type(set))
print(Dict2)
print(type(Dict2))

['python', 'maths', 'physics', 'pes', 'mechanical graphics']
['python', 'maths', 'physics', 'softskills', 'mechanical graphics']
<class 'list'>
(20, 5.6, ['python', 'maths', 'physics', 'softskills', 'mechanical graphics'])
<class 'tuple'>
{'coding', 'maths', 230}
<class 'set'>
{1: 'Python', 'pages': 200}
<class 'dict'>

In [ ]:
a= 50
b=9.45
c="india"
A=5
B=5.5
C=5+2j
n=[5,90.45,"india"]
print(type(a))
print(type(b))
print(type(c))
print(type(n))
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'int'>
<class 'float'>
<class 'complex'>

IF ELSE

In [ ]:
#GREATEST NO IN 3
a=int(input("First Number:" ))
b=int(input("Second Number:"))
c=int(input("Third number:"))
if(a>b and a>c):
    print("%d is greatest"%(a))
if(b>a and b>c):
    print("%d is greatest"%(b))
if(c>a and c>b):
    print("%c is greatest"%(c))
else:
    print("two or more values are equal")

In [ ]:
#GRADE/DISTINCTION OF A STUDENT
m=int(input("Enter marks"))

if(m<100 and m>=90):
    print("First")
elif(m<100 and m>=80):
    print("Second")
elif(m<100 and m>=60):
    print("Third")
else:
    print("Fail")

Enter marks89
Second

TUPLES

In [ ]:
#tuple of a number abd its cube
l=[]
l1=[]
c=int(input())
b=c**3
l1.append(c)
l1.append(b)
print(tuple(l1))

5
(5, 125)

In [ ]:
#tuple of a number and its multiples

In [5]:
l=[]
l1=[]
c=int(input())
l1.append(c)
for i in range(2,10):
  l1.append(c*i)
print(tuple(l1))

5
(5, 10, 15, 20, 25, 30, 35, 40, 45)

DICT

In [ ]:
#CREATE DICT
data1=input("data1: ").split(" ")
data2=input("data2: ").split(" ")

dict2=dict(zip(data1,data2))

print(dict2,type(dict2))
print(dict2)

data1: 1 2 3 4 5 6  7
data2: a b c d e f g
{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'f', '': 'g', '7': ''} <class 'dict'>
{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'f', '': 'g', '7': ''}

In [ ]:
dict1={"name":"python", "age":5,"address":"jal"}
print("dictionary",dict1)
print("name is",dict1["name"])
print("age is",dict1["age"])

dictionary {'name': 'python', 'age': 5, 'address': 'jal'}
name is python

STRINGS

In [ ]:
#RIGHT ANGLE TRIANGLE
n=int(input("n:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end='')
    print()

n:7
*
**
***
****
*****
******
*******

In [ ]:
#REVERSE TRIANGLE
n=int(input("n:"))
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ",end='')
    for j in range(n-i+1,n+1):
        print("*",end='')
    print()

n:5
    *
   **
  ***
 ****
*****

FOR LOOP

In [ ]:
n=int(input("n:"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    print()

n:7
1
12
123
1234
12345
123456
1234567

In [ ]:
#PRIME NO
n=int(input("enter no:"))

for i in range(2,n):
    if(n%i==0):
        print("not a prime number")
        break
else:
    print("prime no")

enter no:13
prime no

WHILE

In [ ]:
#TABLES TILL 10
a=(input("enter no"))
if(a.isdigit()):
    a=int(a)
    count=1
    while(count<11):
        print(a,"*",count,"=",a*count)
        count=count+1

else:
    print("Enter a number")

enter noa
Enter a number

In [ ]:
n=int(input("n"))
m=int(input("m"))

while n%m!=0:
    temp=m
    temp2=n
    n=m
    m=temp2%temp

else:
    print(m,"is GCD")

n23
m1
1 is GCD

FUNCTIONS

In [ ]:
def fib(x):

    if x==0:
        return 0
    if x==1:
        return 1
    else:
        return fib(x-1)+fib(x-2)

i=int(input("No:"))
print(fib(i))

No:11
89

In [ ]:
def add(x,y):
    x=x+y
    return(x)

a=int(input("a:"))
b=int(input("b:"))
print("a before add:",a)
c=add(a,b)
print("a after add:",c)

a:5
b:4
a before add: 5
a after add: 9